{% extends 'welcome.html '%}
{%block title%} 
ABOUT
{%endblock title%}
{%block body%} 
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Us</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Navbar -->
    

    <!-- Page Content -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Hello! My name is Akash</h2>
                <p>"Hello and welcome to my website! My name is Akash Gupta, and I'm pursuing BTech in Computer Science. I'm passionate about programming, and I'm eager to learn and grow in my field.

                 During my studies, I learned various programming languages such as  Python,SQL and I also gained experience in web development. I enjoy working on new projects and exploring innovative solutions to real-world problems.
                    
                    Aside from programming, I love playing Cricket and Chess. I'm always looking for new opportunities to improve my skills, and I believe that every challenge is an opportunity for growth.
                    
                    I'm excited to start my career in the tech industry and contribute my skills to a dynamic and innovative team. Thank you for visiting my website, and I look forward to connecting with you soon!"
                    
                    
                    
                    
                    
                    </p>
            </div>
            <div class="col-md-6">
                <img src="/static/img/1.jpg" class="img-fluid" alt="About Us Image">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; My mini website 2023.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-md-right">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    

{%endblock body%}