{% extends 'welcome.html '%}
{%block title%} 
HOME
{%endblock title%}
{%block body%} 

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Website</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>

    
    <!-- Page Content -->
    <div class="container my-5">
        <div class="jumbotron">
            <img src="/static/img/akash.png" style="height: 300px;" class="card-img-top" alt="Card Image">
            <h1 class="display-4">Welcome to My small Website!</h1>
            <p class="lead">I'm is Akash Gupta.</p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/gupta.avif" style="height: 200px;" class="card-img-top" alt="Card Image">

                    <div class="card-body">
                        <h5 class="card-title">Service 1</h5>
                        <p class="card-text">This is the service 1.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card mb-4 " >
                    <img src="/static/img/gupta.avif" style="height: 200px;" class="card-img-top" alt="Card Image">

                    <div class="card-body">
                        <h5 class="card-title">Service 2</h5>
                        <p class="card-text">This is the service 2.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>


{%endblock body%}